.items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(27, 25, 25);
    color: white;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px;
    padding-left: 5rem;
}

.item-name {
    text-transform: capitalize;
    font-size: x-large;
    margin-right: auto;
}

.trash-icon {
    transform: scale(1.6);
}

.edit-icon {
    transform: scale(1.5);
}

.delete-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 20px;
    color: #1f680d;
    margin-right: auto;
}

.delete-button:hover {
    color: #ea4520;

}

.edit-button {
    border: none;
    background-color: transparent;
    color: #1bb4a578;
    cursor: pointer;
    margin-left: auto;
    padding-right: 5rem;
}

.edit-button:hover {
    color: #54c3ff;
}