@media only screen and (min-width: 1024px) {

    .input {
        width: calc(var(--item-size) *1.025);
        padding: 10px;
        border-radius: 4px;
        font-size: larger;
    }

    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        border-radius: 4px;
    }

    #button {
        padding: 9px;
        background-color: var(--bg-accent);
        color: var(--icon-color);
        border: solid;
        border-color: transparent;
        border-width: 2px;
        border-radius: 4px;
        font-size: large;
        cursor: pointer;
        margin-left: 8px
    }

    #button:hover {
        border: solid;
        border-color: black;
    }
}

@media only screen and (max-width: 1024px) {
.input {
    width: calc(var(--item-size) *.24);
    padding: 4px;
    border-radius: 4px;
    font-size: large;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    border-radius: 4px;
}

#button {
    background-color: var(--bg-accent);
    color: var(--icon-color);
    border: solid;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
    font-size: 10px;
    padding: 5.57px;
}

#button:hover {
    border: solid;
    border-color: black;

}
}